.toolbar{
    color: black;
    background-color: white;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.toolbar h5{
    font-family: "Montaga", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25pt; 
    text-align: center;
}

.botones{
    position: absolute;
    right: 20px;
}

.seccion1{
    height: 45vh;
    background-image: url("../res/img/bg/main.jpg");
    background-repeat: no-repeat; 
    background-size: cover;
    background-position: center;

    display: flex;
    justify-content: center;
    align-items: center;
}

.seccion1 h5, seccion1 p{
    font-size: 25px;
}

.seccion1 .card img{
    height: 250px;
}

.seccion2{
    height: 60vh;
}